@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#root {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #28282b;
}

/* declare global variables */
body {
  --text-color-grey: #6b788c;
  --background-blue: #0f172a;
  --color-blue: #3b82f6;
  --text-blue: cyan;
}

.App {
  background-color: var(--background-blue);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__container {
  overflow-y: scroll;
  padding: 1em;
  display: grid;
  height: 90vh;
  grid-template-columns: 1fr 3fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
}

.post {
  background-color: var(--color-blue);
  border: none;
  max-width: fit-content;
  padding: 1em 2em;
  border-radius: 1em;
  display: flex;
  margin: 1em auto;
}

.btn {
  color: white;
  background-color: var(--color-blue);
  width: fit-content;
  padding: 0.6em 1.4em;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.2em;
  cursor: pointer;
}

h3 {
  display: flex;
  margin-top: 1.4em;
}

u {
  text-transform: uppercase;
}

input[type="text"],
input[type="password"] {
  color: var(--text-blue);
  font-weight: bold;
  text-align: left;
  width: 100%;
  height: 100%;
  border: 0.6px solid #6b788c;
  border-radius: 1.2em;
  padding: 0.8em;
  color: white;
  background-color: black;
}

input:focus {
  outline: 0;
}

.form__container {
  background-color: var(--background-blue);
}

form > input[type="text"],
input[type="password"] {
  margin: 0 auto;
  margin-bottom: 1em;
  width: 80%;
}

form > button {
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.middle {
  display: flex;
  margin: 0 auto;
}

h4 {
  text-align: center;
  margin: 1em auto;
}

textarea {
  background: transparent;
  color: var(--text-blue);
  font-size: 1rem;
}
