@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

#root {
  font-family: 'Jost', sans-serif;
}

/* declare global variables */
body {
  --text-color-grey: #6b788c;
  --background-blue: #0f172a;
  --color-blue: #3b82f6;
}
