.article {
  padding: 1.2em;
  border-bottom: 1px solid grey;
}

.article__content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
}

.article__content {
  margin: 1.2em 0;
}
.article__informations {
  display: flex;
  justify-content: space-between;
}

.content__description > p {
  color: var(--text-color-grey);
}
