.article {
  padding: 1.2em;
  border-bottom: 1px solid grey;
  background-color: var(--background-blue);
}

.article__author {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.author__action {
  cursor: pointer;
  display: flex;
  align-items: right;
}

.article__content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  margin: 1.2em 0;
}

.article__informations {
  display: flex;
  justify-content: space-between;
}

.content__description > h2 {
  color: cyan;
}

.content__description > p {
  color: var(--text-color-grey);
}

.article__tags > p {
  border: 1px solid grey;
  border-radius: 0.5em;
  padding: 0.2em 1em;
  width: fit-content;
}

.article__likes {
  text-align: right;
}
