.article {
    padding: 1.6em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr 0.25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 1px solid grey;
}

.article__author>p {
    cursor: pointer;
}

.article__author {
    display: flex;
    justify-content: space-between;
}

.article__contents {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 1em;
}

.article__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

span>b {
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: .6em;
    color: var(--text-grey);
    border: 1px solid grey;
    border-radius: 0.6em;
    text-align: center;
    padding: 0.2em;
}

span>p {
    margin-right: 0.6em;
    color: white;
}