.recent__articles {
  background-color: var(--background-blue);
  padding: 1em;
  border-radius: 1em;
}

.recent__articles > h2 {
  text-align: center;
}

.blog__title {
  border: 1px solid grey;
  padding: 0.4em;
  margin: 1em 0;
  border-radius: 0.6em;
}
