.header {
  font-size: 1rem;
  display: flex;
  background-color: var(--background-blue);
  align-items: center;
  height: 4.4em;
  padding: 0.2em 2em;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  align-items: center;
  height: 100%;
  width: 10em;
  padding: 0;
  margin: 0;
}

.center {
  flex-grow: 1;
  margin: 0 2em;
}

input[type='text'] {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 0.6px solid #6b788c;
  border-radius: 1.2em;
  padding: 0.8em;
  color: white;
  background-color: black;
}

input[type='text']:focus {
  outline: 0;
}

span {
  background-color: var(--color-blue);
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: white;
  padding: 0.2em 1em;
}
