.header {
  font-size: 1rem;
  display: flex;
  background-color: var(--background-blue);
  align-items: center;
  height: 4.4em;
  padding: 0.4em 2em;
  justify-content: space-between;
}

.center > input[type='text'] {
  text-align: left;
  color: var(--text-blue);
}

.left,
.right,
.center {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.center {
  flex-grow: 1;
  margin: 0 2em;
  width: 100%;
}

.findIco {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.right > p {
  margin: 0 0.2em;
  padding: 0;
  max-width: fit-content;
}

text {
  font-weight: bolder;
}

.username {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
}

.find {
  display: flex;
}

.findIco {
  height: fit-content;
  width: fit-content;
}
