.main {
  background-color: var(--background-blue);
}

.feed__options {
  border-bottom: 1px solid gray;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.sort__options {
  display: flex;
}

.space {
  width: 100%;
}
