.main {
  background-color: var(--background-blue);
  padding: 1.2em;
  border-radius: 1em;
}

.article__content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
}

.article__content {
  margin: 1.2em 0;
}

.article__informations {
  display: flex;
  justify-content: space-between;
}

.information__tags {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.space {
  width: 100%;
}

.likes {
  align-items: flex-end;
}
