.nav {
  max-height: 80vh;
  overflow-y: scroll;
  background-color: var(--background-blue);
  border: 1px solid white;
  padding: 1em;
  width: 100%;
  border-radius: 1.2em;
}

nav > h3 {
  color: var(--text-blue);
  text-decoration: 1px wavy white;
  display: inline;
}

.challenges,
.challenge {
  margin: 1.2em 0;
}

ul > li {
  font-weight: bold;
  font-size: 1.2rem;
  list-style: none;
}

ul > p {
  list-style: none;
  color: var(--text-color-grey);
}
