.section {
  border-radius: 1em 1em 0 0;
  background-color: var(--background-blue);
  margin-bottom: 1.2em;
  width: 100%;
}

.figure {
  display: flex;
  padding: 1em;
  border-radius: 50%;
  max-width: 6em;
  width: auto;
  height: auto;
}

.round__corners {
  border-radius: 50%;
  margin: 0 0.4em;
}
