.section {
  border-radius: 1em 1em 0 0;
  background-color: var(--background-blue);
  margin: 0 auto;
  margin-bottom: 1.2em;
  border-radius: 1.2em;
  width: 80%;
}

.users__list {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  overflow: scroll;
  margin: auto;
}

.figure {
  display: flex;
  flex-direction: row;
  padding: 1em;
  border-radius: 50%;
  max-width: 6em;
  width: auto;
  height: auto;
}

.round__corners {
  border-radius: 50%;
  margin: 0 0.4em;
}

.guest__message {
  border-radius: 1.2em;
  padding: 1em;
  text-align: center;
  border: 1px solid cyan;
}
