.section {
  border: 1px solid white;
  background-color: var(--background-blue);
  margin: 0 auto;
  margin-bottom: 1.2em;
  border-radius: 1.2em;
  width: 80%;
}

.users__list {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 0.5em;
  max-width: 100%;
  overflow-x: scroll;
  margin: auto;
}

.figure {
  display: flex;
  flex-direction: row;
  max-width: 6em;
  height: auto;
}

.figure__container {
  display: grid;
  place-content: center;
}

.figure__caption {
  display: block;
  text-align: center;
}

.figure__content {
  width: 4em;
  border-radius: 50%;
  margin: 0 0.4em;
}

.message__container {
  display: grid;
  place-items: center;
}

.guest__message {
  border-radius: 1.2em;
  padding: 1em;
  text-align: center;
  border: 1px solid cyan;
}
