.user__information {
  background-color: var(--background-blue);
  margin-bottom: 1.4em;
  padding: 1em;
}

details {
  text-align: center;

  text-transform: uppercase;
  border: 1px solid white;
  color: var(--text-blue);
}

summary {
  font-size: 2rem;
  font-weight: bolder;
}

section {
  text-align: left;
  margin-left: 2em;
}

section > p {
  color: white;
}
